<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add a new Car</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<h2>This is a Thymeleaf template</h2>

<form action="#" th:object="${car}" th:action="@{/cars}">

    <fieldset>

        <div>
            <label for="mileage" th:text="#{car.mileage}">Email: </label>
            <input type="text" th:field="*{mileage}" />
        </div>


        <div class="submit">
            <button type="submit" name="save" th:text="#{carcontroller.createcar}">Create me!</button>
        </div>

    </fieldset>

</form>

</body>

</html>