<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>RealDolmen Blog</title>
    <link th:href="@{/css/bootstrap-3.0.3.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <div class="page-header text-center">
        <h1><span class="rd-red">Real</span><span class="rd-blue">Dolmen</span> Fleet</h1>
        <p class="lead">Welcome to the <span class="rd-red">Real</span><span class="rd-blue">Dolmen</span> Fleet!</p>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4>Fleet List</h4>

            <div  th:if="!${#lists.isEmpty(carList)}">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>amountofRefuels</th>
                    <th>mileage</th>
                    <th>leasingdurationinyears</th>
                    <th class="text-right">Remove</th>
                </tr>
                </thead>

                <tbody>

                <tr th:each="car : ${carList}" >
                    <td th:text="${car.carType.brand.name}"></td>
                    <td th:text="${car.carType.carModel.modelName}"></td>
                    <td th:text="${car.amountOfRefuels}"></td>
                    <td th:text="${car.mileage}"></td>
                    <td th:text="${car.leasingDurationYears}"></td>

                    <td class="text-right"><a class="btn btn-danger btn-xs" th:href="${#mvc.url('CC#removeCar').arg(0, car.id).build()}">Remove</a></td>
                </tr>

                </tbody>

            </table>
            </div>
            <div th:if="${#lists.isEmpty(carList)}">
                You don't have any skills
            </div>

        </div>
    </div>

    <hr/>
</div>




</body>
</html>