<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>RealDolmen Fleet</title>
    <link th:href="@{/css/bootstrap-3.0.3.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'/>
</head>
<body>

<div th:replace="navbar :: navbar"/>
<div class="thiscontainer">


    <div class="row">
        <h2 th:text="${#messages.msg('msgemployeedet.header') + ' ' + employee.firstName + ' ' + employee.lastName}" class="josefientje-header">Edit employee</h2>

        <div class="col-lg-2">
            <h4 class="josefientje" th:text="#{msgemployeedet.employeeinfo}"></h4>
            <table class="table table-striped table-hover">

                <tr>
                    <th th:text="#{msgemployeelist.functionalLevel}"></th>
                    <td th:text="${employee.functionalLevel}"></td>
                </tr>
                <tr>
                    <th th:text="#{msgemployeelist.firstName}"></th>
                    <td th:text="${employee.firstName}"></td>
                </tr>
                <tr>
                    <th th:text="#{msgemployeelist.lastName}"></th>
                    <td th:text="${employee.lastName}"></td>
                </tr>
                <tr>
                    <th th:text="#{msgemployeelist.email}"></th>
                    <td th:text="${employee.email}"></td>
                </tr>
            </table>

        </div>
        <div class="col-lg-5">
            <h4 class="josefientje" th:text="#{msgemployeedet.currentCarInfo}">Technical Specifications</h4>
            <table class="table table-striped table-hover">

                <tr>
                    <th th:text="#{msgemployeelist.currentCar}">CO2</th>
                    <td th:text="${employee.currentCar.carType.brand.name + ' ' + employee.currentCar.carType.carModel}"></td>
                </tr>
                <tr>
                    <th th:text="#{msgcars.startLeasing}">Ideal Km</th>
                    <td th:text="${employee.currentCar.startLeasing}"></td>
                </tr>
                <tr>
                    <th th:text="#{msgcars.endLeasing}">Ideal Km</th>
                    <td th:text="${employee.currentCar.endLeasing}"></td>
                </tr>
                <tr>
                    <th th:text="#{msgemployeedet.fines}">Max km</th>
                    <td th:text="${employee.fines}"></td>
                </tr>
                <tr>
                    <th th:text="#{msgemployeedet.receivedmail}"></th>
                    <td th:text="${employee.receivedMailForNewCar}"></td>
                </tr>
            </table>


        </div>
        <div class="col-lg-5">
            <h4 class="josefientje" th:text="#{msgemployeedet.carHistoryInfo}">Technical Specifications</h4>

            <div th:if="!${#lists.isEmpty(employee.carHistory)}">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th th:text="#{msgcars.numberPlate}">Number plate</th>
                        <th th:text="#{msgcartypelist.brand}">Brand</th>
                        <!--<th th:text="#{msgcartypelist.model}">Model</th>-->
                        <!--<th th:text="#{msgcartypelist.co2}">co2</th>-->
                        <!--<th th:text="#{msgcartypelist.price}">price</th>-->
                        <!--<th th:text="#{msgcartypelist.isavailable}">is available</th>-->
                        <!--<th class="text-right" sec:authorize="hasAuthority('FLEET_EMPLOYEE')"-->
                        <!--th:text="#{msg.button.update}">Update-->
                        <!--</th>-->
                        <!--<th class="text-right" th:text="#{msg.button.details}">Details</th>-->
                        <!--<th class="text-right" sec:authorize="hasAuthority('FLEET_EMPLOYEE')"-->
                        <!--th:text="#{msg.button.remove}">Remove-->
                        <!--</th>-->
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="car : ${employee.carHistory}">
                        <td th:text="${car.numberPlate}"></td>
                        <td th:text="${car.carType.brand.name}"></td>
                        <!--<td th:text="${carTypeDTO.carModelDTO.modelName}"></td>-->
                        <!--<td th:text="${carTypeDTO.co2}"></td>-->
                        <!--<td th:text="${carTypeDTO.listPriceInclRealVat}"></td>-->
                        <!--<td th:text="${carTypeDTO.isAvailable}"></td>-->

                        <!--<td class="text-right" sec:authorize="hasAuthority('FLEET_EMPLOYEE')">-->
                        <!--<a class="btn btn-info btn-xs"-->
                        <!--th:href="${#mvc.url('CTC#carTypeForm').arg(0, carTypeDTO.id).build()}"-->
                        <!--th:text="#{msg.button.edit}">Edit</a>-->
                        <!--</td>-->
                        <!--<td class="text-right">-->
                        <!--<a class="btn btn-info btn-xs"-->
                        <!--th:href="${#mvc.url('CTC#carTypeById').arg(0, carTypeDTO.id).build()}"-->
                        <!--th:text="#{msg.button.details}">Details</a>-->
                        <!--</td>-->
                        <!--<td class="text-right" sec:authorize="hasAuthority('FLEET_EMPLOYEE')">-->
                        <!--<a class="btn btn-danger btn-xs"-->
                        <!--th:href="${#mvc.url('CTC#removeCarType').arg(0, carTypeDTO.id).build()}"-->
                        <!--th:text="#{msg.button.remove}">Remove</a>-->
                        <!--</td>-->
                    </tr>
                    </tbody>
                </table>
            </div>

            <div th:if="${#lists.isEmpty(employee.carHistory)}">
                <p th:text="#{msgcartypelist.nocarsfound}"/>
            </div>
        </div>
    </div>
    <hr/>
    <input type="button" class="btn btn-rd btn-block btn-lg" th:value="#{employeeform.back}"/>
</div>


</body>
</html>