<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-83"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>RealDolmen Fleet</title>
    <link th:href="@{/css/bootstrap-3.0.3.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<!--<div th:replace="navbar :: navbar"/> -->
<div th:replace="navbar :: navbar"/>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="page-header text-center">
                <img th:src="@{/images/banner-welcometofleet.png}" class="img-responsive"/>
            </div>
        </div>

        <div class="row">

            <div sec:authorize="!isAuthenticated()" class="col-md-4">
                <div th:replace="login :: login"/>
            </div>


            <div class="col-md-8">

            </div>

        </div>
    </div>
</div>
</body>
</html>