<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>RealDolmen Fleet</title>
    <link th:href="@{/css/bootstrap-3.0.3.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'/>

</head>
<body>
<div th:replace="navbar :: navbar"/>


<div class="thiscontainer">
    <div th:if="__${#locale}__=='en'" class="page-header text-center">
        <img th:src="@{/images/ban-orders.png}" class="img-responsive"/>
    </div>

    <div th:if="__${#locale}__=='nl_BE'" class="page-header text-center">
        <img th:src="@{/images/ban-orders-nl.png}" class="img-responsive"/>
    </div>
</div>

<div class="container">
    <h2 class="josefientje-header" th:text="${#messages.msg('msgorderassign.assigncar')+ ' ' + order.employee.firstName + ' ' + order.employee.lastName}"> </h2>

    <form role="form" method="post" th:object="${car}">

        <div class="form-group" th:class="${#fields.hasErrors('numberPlate')}? 'has-error'">
            <label th:for="${#ids.next('numberPlate')}" th:text="#{msgcars.numberPlate}"/>
            <input type="text" th:field="*{numberPlate}" class="form-control"/>
            <span th:if="${#fields.hasErrors('numberPlate')}" class="help-block" th:errors="*{numberPlate}"></span>
        </div>

        <div class="form-group" th:class="${#fields.hasErrors('vinNumber')}? 'has-error'">
            <label th:for="${#ids.next('vinNumber')}" th:text="#{msgcars.vinNumber}"/>
            <input type="text" th:field="*{vinNumber}" class="form-control"/>
            <span th:if="${#fields.hasErrors('vinNumber')}" class="help-block" th:errors="*{vinNumber}"></span>
        </div>

        <div class="form-group" th:class="${#fields.hasErrors('leasingDurationYears')}? 'has-error'">
            <label th:for="${#ids.next('leasingDurationYears')}" th:text="#{msgorderassign.leasingduration}"/>
            <input type="text" th:field="*{leasingDurationYears}" class="form-control"/>
            <span th:if="${#fields.hasErrors('leasingDurationYears')}" class="help-block" th:errors="*{leasingDurationYears}"></span>
        </div>

        <br/>
        <input type="hidden" th:field="*{orderId}" th:value="${order.id}" class="form-control"/>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button type="submit" class="btn btn-rd" th:text="#{msgconfirm}">Save</button>
    </form>
</div>
</body>
</html>