.container {
  margin: 0 auto;
  max-width: 960px;
}

.rd-blue {
  color: #89aca6;
}

.rd-red {
  color: #ec4c24;
}

.thiscontainer {
  margin: 0 auto;
  max-width: 90%;
}


.btn-rd {
  color: #fff;
  background-color: #89aca6;
  border-color: #89aca6
}

.btn-rd:hover   {
  color: #fff;
  background-color: #94b6b0;
  border-color: #94b6b0
}

.btn-rd-orange  {
  color: #fff;
  background-color: #ec4c24;
  border-color: #ec4c24
}

.btn-rd-orange:hover   {
  color: #fff;
  background-color: #94b6b0;
  border-color: #94b6b0
}

.josefientje-header {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 300%;
}